body {
    margin: 0;
    background-color: #4f5a62;
}

a {
    color: aliceblue;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #20272a;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        height: 100px;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 500px;
    background-image: url('../content/static/barley-field-1684052_1920.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    background-color: black;
    padding: 30px;
    border: 5px solid white;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.post {
    margin: 10px;
    position: relative;
    height: 400px;
    display: flex;
    box-shadow: 0 0 5px 0 black;
}

    .post img {
        width: 100%;
        object-fit: cover;
    }

.post-content {
    margin: -5px 5px 0;
    background-color: white;
}

.no-shadow {
    box-shadow: none;
}

.title-post {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    text-shadow: 1px 1px 2px black;
}


.pagenavcontroller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    text-align: center;
    
}

    .pagenavcontroller a {
        background-color: #4f5a62;
        color: white;
        padding: 1rem;
        width: 50px;
        border: 1px solid #eee;
        margin: 0 0.25rem;
        text-decoration: none
    }

        .pagenavcontroller a:hover {
            background-color: #696969;
            width: 50px;
        } 

    .pagenavcontroller .active {
        background-color: #868686;
        width: 50px;
    }


.dots {
    color: white;
    font-size: 30px;
    margin: 0 0.25rem;
    text-decoration: none; 
    width: 50px;
}

.sign-in-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

    .sign-in-form div {
        max-width: 200px;
        width: 100%;
        margin-bottom: 1rem;
    }